@import "../../../styles/style.scss";

.container {
    padding-top: 30px;
}

.repoPanel {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 14px;
    line-height: 16px;
    height: 48px;
    color: #2f80ed;
    padding: 16px;
    margin-top: 16px;
}

.title {
    @extend .boldInfo;
}
